# Project exclude paths
/MetanitLessons/3_Работа_с_типами_данных.js
/MetanitLessons/4_Функции.js
/MetanitLessons/6_Классы.js
/MetanitLessons/8_Методы_доступа_и_readonly_свойство.js
/MetanitLessons/9_Наследование_Абстрактные_классы.js